menu "System Libraries and NSH Add-Ons"
source "$APPSDIR/system/vi/Kconfig"
source "$APPSDIR/system/taskset/Kconfig"
source "$APPSDIR/system/nxlooper/Kconfig"
source "$APPSDIR/system/zmodem/Kconfig"
source "$APPSDIR/system/gcov/Kconfig"
source "$APPSDIR/system/lm75/Kconfig"
source "$APPSDIR/system/trace/Kconfig"
source "$APPSDIR/system/composite/Kconfig"
source "$APPSDIR/system/cu/Kconfig"
source "$APPSDIR/system/system/Kconfig"
source "$APPSDIR/system/ping6/Kconfig"
source "$APPSDIR/system/readline/Kconfig"
source "$APPSDIR/system/dmalloc/Kconfig"
source "$APPSDIR/system/input/Kconfig"
source "$APPSDIR/system/nxrecorder/Kconfig"
source "$APPSDIR/system/flash_eraseall/Kconfig"
source "$APPSDIR/system/argtable3/Kconfig"
source "$APPSDIR/system/uorb/Kconfig"
source "$APPSDIR/system/setlogmask/Kconfig"
source "$APPSDIR/system/psmq/Kconfig"
source "$APPSDIR/system/embedlog/Kconfig"
source "$APPSDIR/system/netdb/Kconfig"
source "$APPSDIR/system/i2c/Kconfig"
source "$APPSDIR/system/lzf/Kconfig"
source "$APPSDIR/system/tee/Kconfig"
source "$APPSDIR/system/dumpstack/Kconfig"
source "$APPSDIR/system/popen/Kconfig"
source "$APPSDIR/system/mdio/Kconfig"
source "$APPSDIR/system/cle/Kconfig"
source "$APPSDIR/system/ntpc/Kconfig"
source "$APPSDIR/system/hexed/Kconfig"
source "$APPSDIR/system/ping/Kconfig"
source "$APPSDIR/system/dhcpc/Kconfig"
source "$APPSDIR/system/adb/Kconfig"
source "$APPSDIR/system/cdcacm/Kconfig"
source "$APPSDIR/system/ubloxmodem/Kconfig"
source "$APPSDIR/system/telnet/Kconfig"
source "$APPSDIR/system/termcurses/Kconfig"
source "$APPSDIR/system/nxplayer/Kconfig"
source "$APPSDIR/system/spi/Kconfig"
source "$APPSDIR/system/usbmsc/Kconfig"
source "$APPSDIR/system/sched_note/Kconfig"
source "$APPSDIR/system/nsh/Kconfig"
source "$APPSDIR/system/ramtest/Kconfig"
source "$APPSDIR/system/hostname/Kconfig"
source "$APPSDIR/system/ramspeed/Kconfig"
source "$APPSDIR/system/hex2bin/Kconfig"
source "$APPSDIR/system/critmon/Kconfig"
source "$APPSDIR/system/cfgdata/Kconfig"
source "$APPSDIR/system/uniqueid/Kconfig"
source "$APPSDIR/system/libuv/Kconfig"
source "$APPSDIR/system/stackmonitor/Kconfig"
endmenu
